.wrapper-signup-form-component {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 50px; }

.title-signup {
  text-align: center;
  font-size: 26px;
  color: #383838;
  margin: 20px 0; }
  .title-signup span {
    color: #2edf8c;
    text-decoration: none;
    font-weight: 400;
    cursor: pointer; }
    .title-signup span:hover {
      text-decoration: underline; }

.wrapper-signup-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 30px;
  border: 1px solid #CECECE;
  max-width: 500px;
  margin-bottom: 100px; }

.wrapper-linkedin-signup {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }
  .wrapper-linkedin-signup .linkedin-description {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #6a6a6a;
    margin-top: 30px;
    padding-bottom: 30px; }

.wrapper-signup-fields {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 30px 20px;
  border-top: 1px solid #CECECE; }
  .wrapper-signup-fields .warning-verify-email {
    color: #25b973; }
  .wrapper-signup-fields .errors-signup-form {
    align-self: flex-start;
    padding-left: 5px;
    min-height: 20px;
    font-size: 14px;
    color: #d61010; }
  .wrapper-signup-fields input.signup-fields {
    width: calc(100% - 40px);
    border: none;
    padding: 10px 15px;
    color: #383838;
    background-color: #E8E8E8;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 300; }
    .wrapper-signup-fields input.signup-fields:focus {
      outline: none; }
    .wrapper-signup-fields input.signup-fields:not(:last-child) {
      margin-bottom: 20px; }
    .wrapper-signup-fields input.signup-fields::-webkit-input-placeholder, .wrapper-signup-fields input.signup-fields::-moz-placeholder, .wrapper-signup-fields input.signup-fields:-ms-input-placeholder, .wrapper-signup-fields input.signup-fields:-moz-placeholder {
      color: #767676; }

button.signup {
  color: #FFFFFF;
  background-color: #2edf8c;
  font-size: 18px;
  text-transform: uppercase;
  border: none;
  outline: none;
  padding: 15px 20px;
  min-width: 250px;
  border-radius: 4px;
  cursor: pointer;
  transition: .2s; }
  button.signup:hover {
    background-color: #27c77c; }

p.terms-of-use {
  text-align: center;
  font-size: 18px;
  color: #6a6a6a;
  font-weight: 400;
  margin: 20px 0; }
  p.terms-of-use a {
    color: #2edf8c;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600; }
    p.terms-of-use a:hover {
      text-decoration: underline; }

@media (max-width: 520px) {
  .wrapper-signup-form {
    padding: 20px 10px;
    width: 380px; } }

@media (max-width: 430px) {
  .wrapper-signup-form-component {
    margin: 0; }
  .title-signup {
    font-size: 22px; }
  .wrapper-signup-form {
    width: 310px; }
  button.signup {
    padding: 10px 20px;
    min-width: 200px; }
  .wrapper-signup-fields {
    padding: 20px 20px; }
  p.terms-of-use {
    font-size: 16px; } }
