.wrapper-header-component {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid #CECECE;
  z-index: 10;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); }

.wrapper-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
  height: 75px; }
  .wrapper-header h2.logo-title {
    margin: 0;
    font-weight: 400;
    user-select: none;
    cursor: pointer; }

nav.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  nav.header-nav .header-links {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    min-width: 130px;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
    transition: 0.2s;
    user-select: none;
    cursor: pointer; }
    nav.header-nav .header-links:hover {
      background-color: #f1ecec; }
    nav.header-nav .header-links.login-link {
      color: #383838; }
    nav.header-nav .header-links.add-employer-link {
      background-color: #34c2e3;
      color: #FFFFFF;
      margin-right: 15px; }
      nav.header-nav .header-links.add-employer-link:hover {
        background-color: #38aeca; }
    nav.header-nav .header-links.signup-link {
      margin-right: 15px;
      color: #FFFFFF;
      background-color: #2edf8c; }
      nav.header-nav .header-links.signup-link:hover {
        background-color: #27c77c; }

.header-user-menu {
  position: relative; }
  .header-user-menu .username {
    border: none;
    font-size: 16px;
    cursor: pointer;
    line-height: 32px;
    background-color: #fff; }
    .header-user-menu .username:focus {
      outline: none; }
  .header-user-menu:hover .wrapper-dropdown {
    display: block; }
  .header-user-menu .wrapper-dropdown {
    padding: 10px;
    position: absolute;
    display: none;
    top: 30px;
    width: 150px;
    right: 0;
    text-align: center;
    background-color: #ffffff;
    border-radius: 4px;
    transition: 0.5s;
    box-shadow: 0 5px 30px #9ca0ab; }
    .header-user-menu .wrapper-dropdown .logout-btn {
      cursor: pointer; }
      .header-user-menu .wrapper-dropdown .logout-btn:hover {
        text-decoration: underline; }

#logongj {
  width: 250px;
  cursor: pointer; }

@media (max-width: 520px) {
  .wrapper-header {
    padding-right: 10px;
    justify-content: center; }
  nav.header-nav .header-links {
    min-width: 0;
    font-size: 14px; }
    nav.header-nav .header-links.signup-link {
      margin-right: 0px;
      min-width: 80px; } }
